/* Insertando fuente Poppins de google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }

h1 {
  text-align: center; }

li {
  list-style: none; }

a {
  color: #582630;
  text-decoration: none; }

.titulo {
  margin: 50px 0; }

.busqueda__input {
  color: #582630;
  border: #582630 solid 2px;
  border-radius: 5px 0 0 5px; }

.busqueda__input:focus {
  outline: none;
  border: #F26157 solid 2px; }

.busqueda__btn {
  color: #582630;
  border: #582630 solid 2px;
  border-radius: 0 5px 5px 0;
  background: none;
  transition: all 0.25s ease;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.75); }

.busqueda__btn:hover {
  color: #F26157;
  border: #F26157 solid 2px; }

.icono {
  transition: all 0.2s ease;
  cursor: pointer;
  color: #582630; }

.icono:hover {
  color: #F26157; }

.separador {
  border-top: 0.5px rgba(0, 0, 0, 0.1) solid; }

.menu {
  position: sticky;
  top: 0;
  padding: 15px 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.75); }

.menu__lista {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.menu__item {
  margin: 0 15px; }

@media only screen and (max-width: 500px) {
  .menu__lista {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .menu__item {
    width: 100%;
    text-align: center; } }

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #582630;
  transition: all 0.5s ease; }

.menu__link--active {
  color: #F26157; }

.menu__link:hover {
  color: #F26157; }

.contenedorPopulares {
  margin: 50px 0; }

.contenedorPopulares h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  position: relative; }

.contenedorPopulares h2::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 50px;
  left: 50%;
  bottom: 0;
  margin-left: -25px;
  background-color: #F26157; }

.categorias {
  margin: 50px 0; }

.categorias__lista {
  text-align: center;
  display: inline-block;
  width: 100%;
  bottom: none;
  list-style: none; }

.categorias__item {
  display: inline-block; }

.categorias__link {
  color: #582630;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  font-weight: 400;
  padding: 10px 14px;
  border-radius: 3px;
  font-size: 13px;
  transition: all 0.5s ease; }

.categorias__link--active {
  font-weight: 700;
  color: #F26157; }

.categorias__link:hover {
  background-color: #F26157;
  color: #fff; }

.contenedor {
  margin: 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.producto {
  width: 300px;
  overflow: hidden;
  margin: 20px 0; }

.producto__img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease; }

.producto__img:hover {
  transform: scale(105%); }

.producto__nombre {
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin: 5px;
  color: #582630;
  transition: all 0.5s ease; }

.producto__nombre:hover {
  color: #F26157; }

.producto__precio {
  text-align: center;
  color: #F26157;
  font-weight: 700;
  font-size: 18px;
  font-weight: normal; }

.nosotros {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.nosotros__img {
  width: 50%;
  height: auto; }

.nosotros__texto {
  width: 100%;
  text-align: center; }

.nosotros__parrafo {
  text-align: justify;
  margin: 10px 80px; }

.nosotros__titulo {
  font-weight: 700;
  color: #F26157;
  margin: 20px 0; }

.formulario {
  margin: 100px 0;
  display: flex;
  justify-content: center; }

.formulario__field {
  width: 50%;
  border: none;
  text-align: center; }

.formulario__input {
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 6px 12px;
  border: 1px #F26157 solid;
  color: #582630;
  font-size: 14px; }

.formulario__button {
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  background-color: #F26157;
  border: 2px #F26157 solid;
  font-weight: 700;
  color: #fff;
  box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.5s ease; }

.formulario__button:hover {
  color: #F26157;
  background-color: #FFF; }

.footer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #F26157;
  padding: 20px 50px;
  color: #FFF;
  font-weight: 500;
  font-size: 14px; }

.footer__parrafo {
  font-weight: 500; }

.footer__icon {
  font-size: 20px;
  color: #FFF; }
