/* Insertando fuente Poppins de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

a {
    color: #582630;
    text-decoration: none;
}

.titulo {
    margin: 50px 0;
    position: relative;
}

.titulo::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    left: 50%;
    bottom: 0;
    margin-left: -25px;
    background-color: #F26157;
}